@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins&display=swap');

:root {
    --textFont: Poppins;
    --headerFont: Abhaya Libre;
}
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

